@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html,
body {
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
}

.loader {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 50%;
}

.countries__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 2rem;
  border-left: 4px solid #090909;
  border-right: 4px solid #090909;
  width: 50%;
  position: relative;
}

.countries__card::after {
  content: "";
  background: #c4c4c4;
  height: 2px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.countries__card:first-of-type::before {
  content: "";
  background: #c4c4c4;
  height: 2px;
  width: 100%;
  top: 4px;
  position: absolute;
}

.countries__card--continent {
  text-transform: uppercase;
  font-weight: bold;
}

.countries__card--label {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.countries__card--content {
  color: #5a5a5a;
  font-weight: bold;
  font-size: 1.25rem;
}

.countries__card--content.currency {
  color: purple;
}
